<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MarcosDiez.shareviahttp"
    android:versionCode="11"
    android:versionName="1.10" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!--  
     // required by JellyBeam 
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    -->

    <!--
	This would allow us to share contacts as vCards, but I don't want to 
	scare users by asking for another permission... 
	<uses-permission android:name="android.permission.READ_CONTACTS" />	
    -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >

        <!--
        <activity
            android:name=".DebugActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".SendFile_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <!--
			<intent-filter>
				<action android:name="android.intent.action.VIEW">
				</action>
				<category android:name="android.intent.category.DEFAULT">
				</category>
				<category android:name="android.intent.category.BROWSABLE">
				</category>
				<data android:mimeType="*/*">
				</data>
				<data android:scheme="file">
				</data>
			</intent-filter>
            -->
        </activity>
    </application>

</manifest>