<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.MarcosDiez.shareviahttp" 
	android:versionCode="6"
	android:versionName="1.05">
	<uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	<uses-feature android:name="android.hardware.faketouch" android:required="false" />
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="false">
		
		<!-- 
		<activity android:name="AaaHttpServerActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		 -->

		<activity android:label="Share via HTTP" android:name=".SendFile">
			<intent-filter>
				<action android:name="android.intent.action.SEND">
				</action>
				<category android:name="android.intent.category.DEFAULT">
				</category>
				<data android:mimeType="*/*">
				</data>
			</intent-filter>
			<!-- 
			<intent-filter>
				<action android:name="android.intent.action.VIEW">
				</action>
				<category android:name="android.intent.category.DEFAULT">
				</category>
				<category android:name="android.intent.category.BROWSABLE">
				</category>
				<data android:mimeType="*/*">
				</data>
				<data android:scheme="file">
				</data>
			</intent-filter>
			 -->
		</activity>	
	</application>
</manifest>